.voices-list {
  display: flex;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.voices-label {
  margin: 0 20px 10px 0;
  font-size: 2rem;
  font-family: monospace;
  font-weight: bold;
}

.voices {
  font-size: 1rem;
  padding: 10px;
  width: 200px;
  max-width: 100%;
  font-weight: bold;
}

/* Tablet */
@media (max-width: 760px) {
  .voices-label {
    font-size: 1.6rem;
    margin: 0 10px 10px 0;
  }

  .voices {
    width: 150px;
  }
}

/* mobile */
@media (max-width: 480px) {
  .voice-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .voices-label {
    font-size: 1.4rem;
    margin: 10px;
  }

  .voices {
    width: 100%;
    margin: 10px;
  }
}
