body {
  background-color: rgb(243, 176, 108);
}

h2,
h1 {
  font-size: 2rem;
  color: rgb(5, 5, 5);
  font-family: monospace;
  display: flex;
  justify-content: center;
  background-color: rgb(217, 233, 93);
  margin: 0;
  padding-bottom: 30px;
}

h1 {
  font-size: 3rem;
  padding: 30px 0 20px 0;
}

.phraseButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px;
}
